################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BaseAPI/bin/Debug/net9.0
/BaseAPI/obj
/Domain/obj
/EmailService/bin
/EmailService/obj/Debug
/EmailService/obj/Release/net8.0
/EmailService/obj
/Infrastructure/obj
/RabbitMQContract/bin
/RabbitMQContract/obj/Debug
/RabbitMQContract/obj/Release/net8.0
/RedisService/obj/Debug/net9.0
/RabbitMQContract/obj
/RedisService/obj
/Application/obj
/BaseAPI/Logs
/BaseAPI/Properties
